# Jetbrains
__pycache__/
.idea/

# Cloned repos
clone/

# Env variables
*.env

# Fine-tuning gpt-2
mk1/src/llm/wandb/
mk1/src/llm/mlruns/
mk1/src/llm/logs/
mk1/src/llm/results/
mk1/src/finetuned_models/

# Images
*.png
*.jpg
*.jpeg

# Audio files
*.mp3
*.wav

# mk1
mk1/
